.filter{
    background-color: #dadada;
    border: none;
    color: #000;
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.9375rem;
    font-weight: 400;
    padding: 2px;
    margin-right: 40px;
}

.mobileFilter{
    background-color: #dadada;
    border: none;
    color: #000;
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.9375rem;
    font-weight: 400;
    padding: 2px;
    width: 100%;
}
